@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&family=Sriracha&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        background-color: #141414;
        font-family: "Nunito Sans", sans-serif;
    }

    body {
        overflow-x: hidden;
    }
}

@layer components {
    .input-box {
        @apply w-full text-lg bg-transparent border-[1px] border-dashed rounded-lg mb-4 outline-none px-4 py-3;
    }

    .btn-primary {
        @apply w-full text-lg md:text-4xl rounded-full text-white border border-green-500  p-2 my-1 hover:bg-green-700;
    }

    .icon-btn {
        @apply text-xl text-slate-400 cursor-pointer hover:text-blue-700;
    }

    .input-label {
        @apply text-base text-slate-300;
    }
}